Source: node-iconv-lite
Section: web
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Anup Vasudevan <anupv@thoughtworks.com>
Build-Depends:
 debhelper (>= 8)
 , dh-buildinfo
 , nodejs
Standards-Version: 3.9.6
Homepage: https://github.com/ashtuchkin/iconv-lite
Vcs-Git: git://anonscm.debian.org/pkg-javascript/node-iconv-lite.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-javascript/node-iconv-lite.git

Package: node-iconv-lite
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
Description: Convert character encodings in pure javascript.
 Node.js is an event-based server-side JavaScript engine.
